@font-face {
  font-family: 'Nunito';
  src: url('/static/fonts/Nunito-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/static/fonts/Nunito-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/static/fonts/Nunito-Light.ttf');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/static/fonts/Nunito-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lora';
  src: url('/static/fonts/Lora-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
